<a href="https://colab.research.google.com/github/alejandromunizsiques/Ejercicios-Coding-Dojo/blob/main/Ejercicio_sobre_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importacion de  liberias

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Montaje drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Montaje datasets

In [4]:
school = pd.read_csv("/content/drive/MyDrive/Data Science Coding Dojo/Machine Learning Avanzado/school_details.csv")
school.head(2)

  districtname establishmentcode  ... highestclass boardname
0         East             S0169  ...      Class 5       NaN
1         East             S0099  ...     Class 12  C.B.S.E.

[2 rows x 30 columns]

In [5]:
facility = pd.read_csv('/content/drive/MyDrive/Data Science Coding Dojo/Machine Learning Avanzado/school_facility_details.csv')
facility.head(2)

  establishmentcode  ... issportsstoreroomavailable
0             S1034  ...              Not Available
1             S0516  ...              Not Available

[2 rows x 11 columns]

# Creacion de Engine

In [6]:
# create sqlite engine
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

# Creacion data sql

In [7]:
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')

sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2021-11-05 22:55:34,948 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2021-11-05 22:55:34,950 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 22:55:34,957 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2021-11-05 22:55:34,959 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 22:55:34,973 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	districtname TEXT,
	establishmentcode TEXT,
	establishmentname TEXT,
	brcname TEXT,
	crcname TEXT,
	schoollevel TEXT,
	managementname TEXT,
	localityhabitation TEXT,
	subdivisionname TEXT,
	constituencyname TEXT,
	revenueblockname TEXT,
	civicbodyname TEXT,
	wardname TEXT,
	postofficename TEXT,
	phoneno TEXT,
	faxno TEXT,
	emailid TEXT,
	website TEXT,
	locatedinruralorurban TEXT,
	disecode TEXT,
	establisheddate TEXT,
	districthqdistance_in_km FLOAT,
	crcdistance_in_km FLOAT,
	bacdistance_in_km FLOAT,
	isrecognized TEXT,
	recognizedby TEXT,
	contactpersonname FLOAT,
	lowestclass TEXT,
	highestclass TEXT,
	boardname TEXT
)


2021-11-05 22:55:34,979 INFO sqlalchemy.engine.Engine [no key 0.00661s] ()
2021-11-05 22:55:34,997 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 22:55:34,999 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2021-11-05 22:55:35,001 INFO sqlalchemy.engine.Engine [no key 0.00192s] ()
2021-11-05 22:55:35,021 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 22:55:35,029 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 22:55:35,107 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", districtname, establishmentcode, establishmentname, brcname, crcname, schoollevel, managementname, localityhabitation, subdivisionname, constituencyname, revenueblockname, civicbodyname, wardname, postofficename, phoneno, faxno, emailid, website, locatedinruralorurban, disecode, establisheddate, districthqdistance_in_km, crcdistance_in_km, bacdistance_in_km, isrecognized, recognizedby, contactpersonname, lowestclass, highestclass, boardname) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-11-05 22:55:35,110 INFO sqlalchemy.engine.Engine [generated in 0.06422s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2021-11-05 22:55:35,133 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 22:55:35,156 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2021-11-05 22:55:35,159 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 22:55:35,161 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2021-11-05 22:55:35,163 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 22:55:35,170 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	establishmentcode TEXT,
	establishmentname TEXT,
	islibraryavailable TEXT,
	availablebookscount BIGINT,
	isfireextgavailable TEXT,
	extinguishercount BIGINT,
	hoiroomavailable TEXT,
	isstaffroomavailable TEXT,
	noofstaffroom BIGINT,
	islockerforstaffavailable TEXT,
	issportsstoreroomavailable TEXT
)


2021-11-05 22:55:35,173 INFO sqlalchemy.engine.Engine [no key 0.00289s] ()
2021-11-05 22:55:35,189 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 22:55:35,191 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2021-11-05 22:55:35,193 INFO sqlalchemy.engine.Engine [no key 0.00136s] ()
2021-11-05 22:55:35,209 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 22:55:35,215 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 22:55:35,254 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", establishmentcode, establishmentname, islibraryavailable, availablebookscount, isfireextgavailable, extinguishercount, hoiroomavailable, isstaffroomavailable, noofstaffroom, islockerforstaffavailable, issportsstoreroomavailable) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-11-05 22:55:35,255 INFO sqlalchemy.engine.Engine [generated in 0.03232s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2021-11-05 22:55:35,269 INFO sqlalchemy.engine.Engine COMMIT

# Preguntas

¿Cuál es el BACDistance promedio (en km)? Renombra la columna resultante como "avg_bac_distancia."

In [8]:
# Write your SQL query in this string
sql = """
SELECT AVG("BACDistance (in Km)") AS avg_bac_distance
FROM school_details
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-11-05 22:56:44,681 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance (in Km)") AS avg_bac_distance
FROM school_details

2021-11-05 22:56:44,684 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0               0.0

¿Cuál es el BACDistance promedio (en km) según nivel educativo del colegio?  Ordena los resultados de promedio mayor a promedio menor.

In [9]:
sql = """
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-11-05 22:58:08,196 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

2021-11-05 22:58:08,203 INFO sqlalchemy.engine.Engine [raw sql] ()

  schoollevel  avg_bac_distance
0        None               0.0
1         JHS               0.0
2         LPS               0.0
3          PS               0.0
4          SS               0.0

Repite la consulta anterior, pero solo muestra los resultados donde la distancia promedio sea menor a 10 km.

In [10]:
# Write your SQL query in this string
sql = """
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-11-05 22:59:32,538 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

2021-11-05 22:59:32,542 INFO sqlalchemy.engine.Engine [raw sql] ()

Empty DataFrame
Columns: [schoollevel, avg_bac_distance]
Index: []

Une las dos tablas (detalles de colegios y detalles de instalaciones de los colegios). Comienza mostrando todas las columnas, pero limita las filas resultantes a solo 2.

In [11]:
# Write your SQL query in this string
sql = """
SELECT *
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
LIMIT 2
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-11-05 23:00:01,377 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
LIMIT 2

2021-11-05 23:00:01,380 INFO sqlalchemy.engine.Engine [raw sql] ()

   index districtname  ... islockerforstaffavailable issportsstoreroomavailable
0      0         East  ...             Not Available              Not Available
1      1         East  ...             Not Available                  Available

[2 rows x 43 columns]

Ahora, solo selecciona colegios donde el nivel de este sea Escuela Primaria y que no tengan biblioteca.

In [12]:
# Write your SQL query in this string
sql = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-11-05 23:00:36,627 INFO sqlalchemy.engine.Engine
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'

2021-11-05 23:00:36,633 INFO sqlalchemy.engine.Engine [raw sql] ()

                        establishmentname schoollevel islibraryavailable
0        EASWARAMMA SAI GURUKOOL ACCADEMY          PS      Not Available
1     NEW GARDEN BOARDING SCHOOL (SAJONG)          PS      Not Available
2     SARASWATI SHISHU VIDHYALAYA, BUDANG          PS      Not Available
3        SAWNEY GOVERNMENT PRIMARY SCHOOL          PS      Not Available
4  UPPER PACHAK GOVERNMENT PRIMARY SCHOOL          PS      Not Available

Toma la consulta anterior, pero ordena los resultados en orden alfabético por nombre.

In [13]:
sql = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
ORDER BY s.EstablishmentName
"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2021-11-05 23:01:22,206 INFO sqlalchemy.engine.Engine
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
ORDER BY s.EstablishmentName

2021-11-05 23:01:22,209 INFO sqlalchemy.engine.Engine [raw sql] ()

                                   establishmentname  ... islibraryavailable
0  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...  ...      Not Available
1                10TH MILE GOVERNMENT PRIMARY SCHOOL  ...      Not Available
2                  AAPGAZI GOVERNMENT PRIMARY SCHOOL  ...      Not Available
3                AARUBOTEY GOVERNMENT PRIMARY SCHOOL  ...      Not Available
4              AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL  ...      Not Available

[5 rows x 3 columns]